@font-face {
  font-family: 'Cascadia Code';
  src: url(../../assets/CascadiaCode-Regular.otf) format('opentype'),
    url(../../assets/CascadiaCode-Regular.woff2) format('woff2');
  font-weight: 400;
}
